@import url("http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css");

.ui-progressbar {
	margin-top: 3px;
    height: 12px;
    background: #2a2b2f !important;
    border: none;
    border-radius: 7px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .3) inset, 0 1px 0 rgba(255, 255, 255, .15);
}

.ui-progressbar-value {
    margin: 4px !important;
    height: 6px !important;
    background: #a6dc00 !important;
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 1px 0 rgba(0, 0, 0, .5);
}


body {
    font-family: "Consolas", Times, serif;
	background-image: url(niceone.jpg);
	background-repeat: repeat;
	color: #FFFFFF;
}

h3 {
	font-family: "Consolas", Times, serif;
}

.header{
	position:absolute;
	top: 40%;
	left: 20%;
	width: 60%;	
}

/*footer{
	position: fixed;
	bottom: 0;	
}*/

hr {
	border: 0;
	height: 0;
	margin-top: 5px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.rightaligned{
	text-align: right !important;	
}



.rotate:hover {
  -webkit-animation: rotatingstuff 0.4s ease-in-out;
  -moz-animation: rotatingstuff 0.4s ease-in-out;
  -ms-animation: rotatingstuff 0.4s ease-in-out;
  animation: rotatingstuff 0.4s ease-in-out;
}


@keyframes rotatingstuff {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotatingstuff {
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotatingstuff {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes rotatingstuff {
  from {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
